09SOAPClient/src/wsdl/localhost_8080/09SOAP/MyWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.soap.progrweb2020.units.it/" xmlns:ns1="http://soap.units.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.soap.progrweb2020.units.it/">

<xs:import namespace="http://soap.units.it" schemaLocation="http://localhost:8080/09SOAP/MyWS?xsd=2"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="iscrivi" type="tns:iscrivi"/>

<xs:element name="iscriviResponse" type="tns:iscriviResponse"/>

<xs:complexType name="iscrivi">
<xs:sequence>
<xs:element ref="ns1:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studente">
<xs:sequence>
<xs:element name="cognome" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iscriviResponse">
<xs:sequence>
<xs:element name="return" type="tns:studenteIscritto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="studenteIscritto">
<xs:complexContent>
<xs:extension base="tns:studente">
<xs:sequence>
<xs:element name="matricola" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>